.logo-wrapper {
    position: absolute;
    top: 0px;
    left: 24px;
  }
  
  .logo-wrapper img {
    height: 200px;
  }
  

  .signup-wrapper {
    background-color: #fbfafb;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-card {
    background: white;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 400px;
  }
  
  .signup-title {
    text-align: center;
    color: #ea002c;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  .signup-card form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-card input,
  .signup-card select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 16px;
    font-size: 14px;
  }
  
  .signup-button {
    background-color: #ea002c;
    color: white;
    padding: 12px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #c90027;
  }
  
  .interest-box {
    margin-bottom: 16px;
  }
  
  .interest-box label {
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
  }
  
  .interest-scroll {
    display: flex;
    overflow-x: auto;
    gap: 8px;
    padding-bottom: 6px;
  }
  
  .interest-chip {
    border: 1px solid #f47725;
    color: #f47725;
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 13px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .interest-chip.selected {
    background-color: #f47725;
    color: white;
  }
  